<!DOCTYPE html>
{%extends "blog/base.html"%}
{%block content%}
<div class="post block">
  <h1 class="title">{{post.title}}</h1>
  <small>Posted at {{post.posted_date}}</small>
  <p>{{post.intro}}</p>
  <p>{{post.body}}</p>
  <br />
  <a href="{% url 'post_Change_Delete' post.pk %}">投稿変更/削除ページ</a>
</div>

<h2 class="subtitle">コメント</h2>
{%for comment in post.comments.all%}
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>
          {{comment.name}}
          <small>{{comment.posted_date}}</small>
        </strong>
        <br />
        {{comment.body}}
        <br />
        <form action="" method="post">
          {%csrf_token%}
          <button class="button is-denger" name="comment_delete" value="{{comment.id}}" >コメント削除</button>
        </form>
      </p>
    </div>
  </div>
</article>

{%empty%}
<div class="notification">
  <p>コメントはまだありません</p>
</div>
<hr>
{%endfor%}

<h2 class="subtitle">コメントを追加</h2>
<form action="" method="post">
  {%csrf_token%}
  {{form.as_p}}
  <div class="field">
    <div class="control">
      <button class="button is-denger">送信</button>
    </div>
  </div>
</form>


<a href="/frontpage"><strong>frontpage</strong></a>
{%endblock%}